#app {
  width: 95%;
  max-width: 500px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  padding: 10px;
}

.form-control-feedback {
  top: 25px;
}

.VF-Field--required label {
  position: relative;
}

.VF-Field--required>label:before {
  content: "*";
  font-size: 20px;
  color: red;
  position: absolute;
  left: -15px;
}

.VF-Field--Number input {
  width: 100px;
}

.VF-Field--Date__datepicker.date__input {
  width:130px;
}

.VF-Field--Date__datepicker.date__span {
  border:1px solid #ddd;
  border-radius:5px;
  padding:8px;
  width:130px;
  cursor:pointer;
}

.VF-Field--Date__datepicker:hover {
  background:#efefef;
}

  .VF-Field__file-upload {
    position: relative;
  }

  .VF-Field__file-upload-icon  {
  position: absolute;
  }

  .VF-Field__file-upload input {
    opacity: 0;
    position: absolute;
    top:0;
    cursor:pointer;
  }
  
  .VF-Field--File {
    margin-bottom:26px;
  }
  
  .VF-Buttons__wrapper {
    width:50%;
  }

