<!DOCTYPE html>
<html lang="en">
  
<head>
   <meta charset="UTF-8" />
   <title>Application </title>
   <link rel="shortcut icon" href="latinicon.jpg" />
   <link rel='stylesheet' href="dstyle.css" type='text/css' media='screen'>
   
      
			  
</head>
<div class="admin-panel clearfix">
  <div class="slidebar">
    <div class="logo">
      <a href=""></a>
    </div>
    <ul>
      <li><a href="#portal" id="targeted">portal</a></li>
      <li><a href="#users">users</a></li>
      <li><a href="#tools">tools</a></li>
      <li><a href="#settings">settings</a></li>
    </ul>
  </div>
  <div class="main">
    <ul class="topbar clearfix">
      <li><a href="">Welcome.</a></li>
    </ul>
    <div class="mainContent clearfix">
      <div id="portal">
        <h2 class="header"><span class="icon">Dashboard</span></h2>
          <div class="monitor">
            <h4>Nominees</h4>
            <div class="clearfix">
		    <table>
  <tr>
    <th>Name</th>
    <th>User No.</th>
    <th>Status</th> 
    <th>Score</th>
	  
  </tr>
  <tr>
    <td>Pierre Aubameyang</td>
    <td>940501</td>
    <td style=color:green;>Completed</td> 
	  <td ><textarea rows="5" cols="10" placeholder="Insert score">
</textarea>
</td>
  </tr>
  <tr>
    <td>Cristina Ronaldo</td>
    <td>143302</td>
    <td style=color:#f4a742;>Incomplete: Nominee</td>
	  <td><textarea rows="5" cols="10" placeholder="Insert score"></textarea></td>  
			    </tr>
  <tr>
    <td>Emily Wilkins</td>
    <td>703021</td>
    <td style=color:#f4a742;>Incomplete: Nominator</td> 
	  <td ><textarea rows="5" cols="10" placeholder="Insert score">
</textarea>
</td>
  </tr>
  
<tr>
    <td>George Weah</td>
    <td>394821</td>
    <td style=color:red;>Deadline Past Due</td> 
	  <td ><textarea rows="5" cols="10" placeholder="Insert score">
</textarea>
</td>
  </tr>
</table>
              
           </div>
           
         </div>
       </div>
       <div id="users">
         <h2 class="header">users</h2>
       </div>
       <div id="tools">
         <h2 class="header">tools</h2>
       </div>
       <div id="settings">
         <h2 class="header">settings</h2>
       </div>
     </div>
     <ul class="statusbar">
       <li class="profiles-setting"><a href="">Settings</a></li>
       <li class="profiles-setting"><a href="">  </a></li>
       <li class="logout"><a href="">Log Out</a></li>
     </ul>
   </div>
</div>
